**/.DS_Store
__pycache__/
*.pyc
/*.egg-info
.idea/
*.swp
*.wsn
*.swo
.scannerwork/
.vscode/
htmlcov/
sonar-project.properties
.coverage*
docs/rst
docs/sphinx
experiments/
dist/
rlcard/games/doudizhu/jsondata/
rlcard/agents/gin_rummy_human_agent/gui_cards/cards_png
.venv
